/*Set box-sizing to border-box*/
/*html {
  box-sizing: border-box;
}*/

/*Set box-sizing to border-box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*Overall Page Layout*/
.page-container {
  display: grid;
  justify-content: center;
}

.game-header {
  justify-self: center;
  font-weight: bold;
  font-size: 3rem;
}

/*Tic-Tac-Toe game board*/
#game-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(3, minmax(50px, 1fr));
  border-style: solid;
  width: 35rem;
  height: 35rem;
}

.game-square {
  border-style: solid;
}

.game-square:hover {
  background-color: gainsboro;
}

.game-square:active {
  background-color: #gainsboro;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Player selection under the game board*/
.player-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.selection-message {
  grid-column: span 2;
  justify-self: center;
}

.x-button,
.o-button {
  justify-self: center;
  font-size: 2rem;
  width: 7rem;
}

.game-on {
  justify-self: center;
  font-weight: bold;
  font-size: 3rem;
}
